@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}	
body{
	font-size: 62.5%;	
font-family: 'Prosto One', cursive;	
	background-color: #4D261E;
}
h1, h2, h3{
	font-weight: 700;	
	padding: 10px 40px;
	color: #000;
	font-family: 'Frijole', cursive;
}
h1{

	font-size: 2.6rem;	
}
h2{
	font-size: 3.0rem;	
}
h3{
	font-size: 2.0rem;
	color: #000;	
}
p, li, a{
	font-weight: 400;
	color: #260101;	
	text-decoration: none;	
}
p{
	padding: 10px 20px;
	font-size: 1.6rem;
}
a{
	font-size: 1.6rem;
}	

/***********************************
					Layout
***********************************/
#wrapper{
	max-width: 960px;
	margin: 0 auto 20px auto;
	border:1px solid #aaa;
	background-color: #fff;
	


}
.masthead{
	width:100%;
	background-color: #42282F;
	background-image:url(image/masterHead.png);
	background-repeat:no-repeat;
	color: #000;
	
	
}
.nav{
	width:100%;
	/*background-color: #42282F;*/
}
.navbar{
	overflow:hidden;
	
}
.main{
	width: 590px;
	float: left;
	


}
.sidebar{
	width: 370px;
	float:right;
	
}
.footer{
	clear:both;
}
/***********************************
					Masthead
***********************************/
.masthead h1{
	color: #000;	
	padding: 30px 20px;
	font-family: 'Frijole', cursive;

}

/***********************************
					Navigation
***********************************/
.navbar li{
	float:left;	
	width: 192px;  /* 960/5 = 192 */
	list-style:none;
}
.navbar a{
	display: block;	
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	color: #333;
	background-color: #A64141;
}
.navbar a:visited,
.navbar a:hover,
.navbar a:active,
.navbar a:focus{
	color: #F25D27;
	background-color: #271f1a;
	font-family: 'Prosto One', cursive;

}
 a:hover,

{
	color:  #F2D129;
}
/***********************************
					Content
***********************************/
.sidebar p{

	font-size: 1.4rem;
	font-family: 'Prosto One', cursive;
	background-color: #fff;

}

/***********************************
					Footer
***********************************/
.footer p{
	padding: 20px 20px;
	font-size: 1.2rem;
	color: #F2F2F2;
	font-family: 'Prosto One', cursive;	
	text-align: center;	
	background-color: #271f1a;
}
